.modal-open {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.modal-close {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-content-open {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal-content-close {
  transform: scale(0.95);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}